<section class="section nav-spacer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-weight-bold">Arbeitszeiten Übersicht</h1>
        <table id="example" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Firma</th>
              <th>Projekt</th>
              <th>Mitarbeiter</th>
              <th>Stunden</th>
              <th>Erledigte Arbeit</th>
              <th>Gesamtpreis (in €)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              <td>{{id}}</td>
              <td>{{firmenname}}</td>
              <td>{{projektname}}</td>
              <td>{{nachname}}, {{vorname}}</td>
              <td>{{geleistete_Stunden}}</td>
              <td>{{erledigt}}</td>
              <td>{{kosten}}</td>
              <td><a href="rechnung/{{id}}"><i class="fas fa-money-bill-alt"></i></a></td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>