<section class="section nav-spacer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-weight-bold">Kunden Übersicht</h1>
        <table id="example" class="table is-fullwidth">
          <thead>
            <tr>
              <th>Kunden ID</th>
              <th>Firmenname</th>
              <th>Stundensatz</th>
              <th>Rechnungsart</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              <td>{{id}}</td>
              <td>{{firmenname}}</td>
              <td>{{stundensatz}}</td>
              <td>{{beschreibung}}</td>
              <!-- href Seite plus ID als property mitsenden -->
              <td><a href="/update_kunde/{{id}}"><i class="fas fa-pencil-alt"></i></a></td>

            </tr>
            {{/each}}

          </tbody>
        </table>

        <br>
        <br>
        <a href="/kunde_anlegen" class="button is-rounded is-black is-outlined">Neuen Kunden anlegen</a>
      </div>
    </div>
  </div>
</section>